.Brand:hover {
  cursor: pointer;
  color: #c4c4c4 !important;
}

.Dropdown > a {
  padding-left: 0 !important;
}

.Dropdown > div {
  max-width: 160px !important;
}

@media (min-width: 576px) {
  .Dropdown > div {
    right: 0 !important;
    left: auto !important;
  }
}
