.Wrapper {
  margin-top: 10px;
}

.Record {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  background-color: #f7f7f7;
}

.Image {
  border: 1px solid #ced4da;
  border-radius: 3px;
  max-height: 300px;
}
